.navbar {
  background-color: #f5f9ff;
  height: 90px;
}

.navbar .logo {
  transform: rotate(-35deg);
  width: 45px;
  height: 69px;
}
.navbar .title {
  font-size: 28px;
}

.snils-bar {
  margin-top: 35px;
  margin-bottom: 40px;
}

.menu-item {
  font-size: 1.2em;
  height: 40px;
  font-family: "Futura Book Italic";
  transition: 0.3s;
}

.menu-item:hover {
  border-bottom: 2px solid var(--primary);
}
.menu-item.active {
  transition: 0.3s;
  font-family: "FuturaDemiC";
}
